@import 'scss/variables';
@import 'scss/mixins';
@import 'scss/colors';

body {
  text-align: center;
}

body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
}

#search-container {
  display: block;
  float: left;
  margin-bottom: 20px;
}

.list {
  list-style-type: none;
}

.list > li {
  position: relative;
  clear: both;
  padding: 0px;
  margin: 0px;
}

.list > li:nth-of-type(1) {
  border-top: none;
}

.list > li > a {
  margin: 0px;
  display: block;
  height: 57px;
  padding: 4px;
}

.list > li > a > p:nth-of-type(1) {
  margin: 8px 0px 0px 0px;
  font-weight: bold;
}

.list > li p:nth-of-type(2) {
  margin: 0px;
  color: #777;
}

.list > li img {
  width: 57px;
  height: 57px;
  float: left;
  margin-right: 8px;
}

.list li:active {
  background-color: #d6d6d6;
}

.list .detail h3 {
  margin: 10px 0 0 0;
}

.actions > li > a {
  padding-left: 12px;
}

.action-icon {
  position: absolute !important;
  top: 18px;
  right: 20px !important;
  width: 28px !important;
  height: 28px;
}

.actions li p:nth-of-type(1) {
  color: #5DC1FF;
  font-size: 0.9em;
  font-weight: lighter;
}

.actions li p:nth-of-type(2) {
  color: inherit;
}

ul {
  clear: both;
  border-top: none !important;
}

.icon-call {
  background: transparent url(../img/call.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.icon-sms {
  background: transparent url(../img/chat.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.icon-mail {
  background: transparent url(../img/email.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.icon-manager {
  background: transparent url(../img/next.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.icon-reports {
  background: transparent url(../img/next.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.chevron {
  background: transparent url(../img/next_blue.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 22px;
  height: 50px;
  width: 28px;
}

.slide-left.ng-enter,
.slide-left.ng-leave,
.slide-right.ng-enter,
.slide-right.ng-leave {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  -ms-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.count {
  color: rgb(93, 193, 255);
  position: absolute;
  right: 50px;
  top: 26px;
  font-weight: bold;
}

.employee-list-item {
  display: flex;
  flex-direction: column;
}

.employee-list-item-details {
  background-color: lightcyan;
}

.detail {
  text-align: left;
}
